/* Header Styles */
.header {
    background-color: #ef476f; /* Updated header background color */
    color: #fff; /* Light header text color */
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; /* Make the header sticky */
    width: calc(100% - 60px); /* Adjust width to account for sidebar */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.logo {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    align-items: center;
    margin-left: auto; /* Ensures the nav items stay on the right */
}

.auth-link {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.auth-link:hover {
    background-color: #f76a8c;
    transform: scale(1.05);
}

.join-btn {
    background-color: #fff;
    color: #ef476f;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 20px;
}

.join-btn:hover {
    background-color: #f76a8c;
    color: #fff;
}

.logout-btn {
    background-color: #fff;
    color: #ef476f;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.logout-btn:hover {
    background-color: #f76a8c;
    color: #fff;
    transform: scale(1.05);
}

/* Ensure that the content below the header is not hidden under the fixed header */
.content {
    margin-top: 60px; /* Adjust this according to the height of your header */
}


/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .header {
      position: inherit;
      padding: 10px 20px;
      font-size: 16px;
      flex-wrap: wrap;
      width: 100% !important;
     
  }

  .logo {
      font-size: 22px;
  }

  nav {
      margin-top: 10px;
      width: 100% !important;
      justify-content: space-between;
  }

  .auth-link {
      margin-left: 0;
      padding: 8px 15px;
      font-size: 14px;
  }

  .join-btn, .logout-btn {
      padding: 8px 15px;
      margin-left: 10px;
      font-size: 14px;
      width: 40vw;
  }
}

@media screen and (max-width: 480px) {
  .header {
      padding: 10px 15px;
      font-size: 14px;
  }

  .logo {
      font-size: 20px;
  }

  nav {
      flex-direction: column;
      align-items: center;
  }

  .auth-link, .join-btn, .logout-btn {
      margin: 5px 0;
      padding: 6px 12px;
      font-size: 12px;
      width: 30vw;
      text-align: center;
  }

  .content {
      margin-top: 120px; /* Adjust based on the new header height */
  }
}